{% extends '/layout.html.twig' %}
{% block pagetitle %}Error 500{% endblock %}
{% block body %}
<div class="container">
<h1 class="pagetitle">Error 500</h1>
<p class="lead">You may be seeing this because you tried to import a deck without an identity.</p>
<p>In lieu of a proper fix, please type in an identity as well and it should work.</p>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
